
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>成员列表——说说</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style>
        body {
            padding-top: 80px;
            padding-bottom: 20px;
        }
        h1 {
          margin: 0 0 30px;
          font: 32px Microsoft Yahei;
        }
        #error {
          display: none;
          margin-top: 20px;
          font: 20px Microsoft Yahei;
        }
        .one {
          padding: 10px;
          margin: 20px 10px;
          box-shadow: 10px 10px 20px #999;
          color: #eee;
          background-color: rgb(61, 78, 97);
          
        }
        
    </style>

    
  </head>

  <body>

      <% include header.ejs %>

    <div class="container">
      <!-- Example row of columns -->
      <h1>成员列表</h1>
      <div class="row">
        <% for(let i=0; i<result.length; i++){ %>
          <div class="one col-lg-3">
            <a href="/user/<%= result[i].username %>" style="color:#eee;text-decoration: none;">
              <p style="margin: 0"><img src="/<%= result[i].avatar %>" alt="">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font: 20px Microsoft Yahei;"><%= result[i].username %></span></p>
            </a>
          </div>
        <% } %>
      </div>

      <hr>

      <footer class="a123">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery-1.11.3.min.js"></script>
  </body>
</html>
